/* font converted using font-converter.net. thank you! */

@font-face {
  font-family: "OpenSans Regular";
  src: url(../fonts/OpenSans-Regular.otf) format("opentype"), url(../fonts/OpenSans-Regular.svg) format("svg"), url(../fonts/OpenSans-Regular.ttf) format("truetype"), url(../fonts/OpenSans-Regular.woff) format("woff"), url(../fonts/OpenSans-Regular.woff2) format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* Media Querry */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

@media (max-width: 767px) {
  html,
  body {
    height: auto;
  }
}

body {
  margin: 0;
  font: 14px/1.2 "OpenSans Regular", Arial, sans-serif;
  color: #666;
}

input[type="text"] {
  padding: 5px;
  height: 30px;
  border: 1px solid #CCCCCC;
  background-color: #f0f0f0;
  font-family: "OpenSans Regular", Arial, sans-serif;
  font-size: 14px;
  color: #666;
}

button {
  height: 30px;
  background-color: #00A0B0;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-family: "OpenSans Regular", Arial, sans-serif;
}

.customers {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 30px;
}

.customers #comment-box {
  display: block;
  width: 100%;
  max-width: 980px;
}

.customers .shopping-list-wrapper,
.customers .shopping-form {
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 4px;
}

.customers .shopping-list-wrapper {
  margin-bottom: 10px;
}

.customers h1 {
  margin-top: 0;
}

.customers .shopping-form button {
  width: 20%;
  margin-left: 10px;
}

.customers .shopping-form input[type="text"] {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.customers .shopping-form form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customers ul {
  font-size: 16px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.customers ul li {
  margin-bottom: 6px;
  padding: 4px 10px;
  background-color: #fff;
  border: 1px solid #CCC;
  border-radius: 4px;
}

.customers ul li:last-child {
  margin-bottom: 0;
}

.customers ul p {
  margin: 0;
}

.customers ul button {
  margin-left: 5px;
}

.customers .list-item {
  width: 100%;
}

.customers .list-item .item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .customers .list-item .item {
    display: block;
  }
}

.customers .list-item .item p {
  font-size: 14px;
}

@media (max-width: 767px) {
  .customers .list-item .item p {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .customers .list-item .item .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.edit-form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-form-wrapper .edit-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-form-wrapper .edit-form input[type="text"] {
  width: 100%;
}

.edit-form-wrapper .edit-form .buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal .modal-inner {
  min-width: 280px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 15px;
}

.modal p {
  margin-top: 0;
}

.modal .buttons {
  float: right;
}

.modal .buttons button {
  margin-left: 10px;
}


/*# sourceMappingURL=app.css.map*/